[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
jupyter = "*"
wordcloud = "*"
pillow = "*"
texsoup = "*"
sumy = "*"
py-readability-metrics = "*"
check-jsonschema = "*"
prefect = "*"
luigi = "*"
pandas = "*"
requests = "*"
qrcode = "*"
segno = "*"
qrcode-artistic = "*"

[requires]
python_version = "3.9"
