body, #app {
  height: 100%;
  @apply theme-bg md:bg-inherit;
}

.theme-bg {
  background-color: var(--background)
}

/* media query for screens greater then 768px */
@media (min-width: 768px) {
  body {
    background: var(--wallpaper2000w) no-repeat center center fixed;
    background-size: cover;
  }
}

/* media query for screens greater then 2000px */
@media (min-width: 2000px) {
  body {
    background: var(--wallpaper4000w) no-repeat center center fixed;
    background-size: cover;
  }
}

.ansi-art {
  content: var(--ansiart);
  /* content: url('https://source.unsplash.com/7bwQXzbF6KE/800x500'); */
}

a {
  color: var(--color13);
  text-decoration: underline;
}
a:hover {
  background-color: var(--color12);
  color: var(--color15);
}
.markdown  h2 {
  @apply text-2xl mb-4;
  color: var(--color6);
}

.markdown p {
  @apply mb-4 text-sm;
  color: var(--color7);
}


/* Chrome, Edge, and Safari */
.terminal *::-webkit-scrollbar {
  width: 0.5rem;
  scrollbar-width: thin;
}

.terminal *::-webkit-scrollbar-thumb {
  background-color: var(--color11);
  border-radius: 14px;
  /* border: 1px solid white; */
  scrollbar-width: thin;
}
